{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% from 'macros/links.jinja2' import link_to_group %}

{% block title %}
Group not found
{% endblock %}

{% block content %}

<div class="empty">
  <h2 class="empty-title">No group named '{{ supplied_name }}'</h2>
  {% if group_suggestions %}
    <p class="empty-subtitle">Did you mean one of these groups instead?</p>
    <ul>
    {% for group in group_suggestions %}
      <li>{{ link_to_group(group) }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="empty-action">
    <a href="/groups" class="btn btn-primary">Browse the list of groups</a>
  </div>
</div>

{% endblock %}
